.add-manager{
  width: 100%;
  height: 44px;
  background-color: #fff;
  border-bottom-color:  rgba(228, 228, 228, 1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: rgba(228, 228, 228, 1);
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 10px
}
.add-manager-container{
  position: relative;
  width: 100%;
  height: 44px;
}

.add-manager-text{
  color: #323334;
  padding-left: 42px;
  padding-top: 12px;
  font-size: 17px;
}
.add-manager-add-icon{
  width: 14px;
  height: 14px;
  position: absolute;
  top:15px;
  left: 12px;
}
.add-manager-more-icon{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 15px;
  right: 12px;
}