.index-admin{
  width: 100%;
  height: 44px;
  background-color: #fff;
  border-top-color: #e4e4e4;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #e4e4e4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.admin{
  position: relative;
  padding-left: 12.5px;
  padding-right: 12.5px;
  height: 44px;
}
.admin-image{
  width: 16.5px;
  height: 16.5px;
  position: absolute;
  top:12.5px;
}
.admin-hello{
  font-size: 17px;
  color: #999;
  float: left;
  padding-left: 26px;
  padding-top: 10.5px;
}
.admin-edit{
  font-size: 17px;
  color: #38ADFF;
  position: absolute;
  right: 12px;
  top: 10.5px;
}